<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center;">Suggest a New Place to Visit in NYC</h2>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/nyc_places" method="POST">
                <div class="form-group">
                   <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                   <input class="form-control" type="number" name="price" placeholder="price" min="0.00" step="0.01">
                </div>
                <div class="form-group">
                 <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                 <div class="form-group">
                 <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/nyc_places">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>